<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yijiajiao.oss.mapper.FocusPictureMapper">

    <select id="getFocusById" resultType="Map" parameterType="int">
        SELECT id id,
        belongs belongs,
        area area,
        img img,
        sort sort,
        title title,
        url Url,
        bgcolor bgColor,
        status status
        FROM focuspicture WHERE id = #{id}
    </select>

    <update id="updateFocus"   parameterType="map" >
        UPDATE focuspicture
        <if test="status != null">
            SET status =#{status}
        </if>
        <if test="status == null">
            SET   bgcolor =#{bgColor}  , title =#{title} , url =#{url}
            <if test="img != null">
                ,img =#{img}
            </if>
        </if>
        WHERE
        id =#{id}
    </update>


   <update id="changeOfPostion" parameterType="Map">
        UPDATE focuspicture fup
        SET fup.sort = CASE id
        WHEN #{id1} THEN
        #{sort2}
        WHEN #{id2} THEN
        #{sort1}
        ELSE
        fup.sort
        END
    </update>
    <select id="getFocusByBlongsAndArea" resultType="map" parameterType="map">
        SELECT
        id id,
        belongs belongs,
        area area,
        img img,
        sort sort,
        title title,
        url url,
        bgcolor bgColor,
        status status
        FROM
        focuspicture
        WHERE
        belongs = #{belongs}
        AND area = #{area}
        ORDER BY
        sort ASC
    </select>
    <insert id="saveFocus" parameterType="map">
        INSERT INTO focuspicture (
        id,
        belongs,
        area,
        img,
        sort,
        status,
        title,
        url,
        bgcolor
        )
        VALUES
        (
        #{id},
        #{belongs},
        #{area},
        #{img},
        #{sort},
        #{status},
        #{title},
        #{url},
        #{bgColor}
        )
    </insert>
    <!--<select id="findAll" resultType="Map">
        SELECT * FROM focuspicture
    </select>



    -->
</mapper>